.navbar {
    height: 5rem;
    width: 80vw;
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.menu {
    height: 3rem;
    width: 3rem;
    display: none; 
    object-fit: cover;
    margin-right: 0; 
    position: absolute; 
    right: 2rem; 
    top: 50%; 
    transform: translateY(-50%); 
}

.items{
    margin: 2rem;
    cursor: pointer;

}
.items:hover{
    padding-bottom: 1rem;
    border-bottom: .15rem solid #f5deb3;
}
.resume{
    background-color: wheat;
    color: rgb(31, 29, 29);
    border: 2px solid wheat;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}
.resume:hover{
    background-color: rgb(31, 29, 29);
    color: wheat;
    cursor: pointer;
}
.mobileNav{
    position: absolute;
    top: 4rem;
    right: 1rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background-color: rgb(31, 29, 29);
    border-radius: 1rem;
}

.mobile-items{
    color: wheat;
    padding: 0.5rem 3rem;
    margin: .25rem;
    cursor: pointer;

}
.mobile-items:hover{
    font-weight: 600;
}
#logo{
    display: none;
}
@media screen and (max-width: 720px) {
    .navbar{
        margin: 0px;
        padding-right: 0px;
        padding-left: 0px;
        width: 95%;
    }
    .navDiv{
        margin: 0px;
    }
    .nav {
      display: none; 
    }
    #logo{
        display: block;

    }
    #logo:hover{
    padding-bottom: 0rem;
    border-bottom: 0rem ;
    }
    .menu {
      display: block; 
      right: 0px;
    }
  
    .mobileNav {
      display: flex; 
    }
    .resume{
        display: none;
    }

  }