.navbar{
    height: 5rem;
    width: 80vw;
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.items{
    margin: 2rem;
    cursor: pointer;

}
.items:hover{
    padding-bottom: 1rem;
    border-bottom: .15rem solid wheat;
}
.resume{
    background-color: wheat;
    color: rgb(31, 29, 29);
    border: 2px solid wheat;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}
.resume:hover{
    background-color: rgb(31, 29, 29);
    color: wheat;
    cursor: pointer;
}