#introduction {
    display: flex; 
    align-items: center; 
    padding: 4rem 2rem; 
    margin: 2rem 0; 
}

.titleIntro {
    font-size: 3rem; 
    font-weight: 700;
    margin-bottom: 1rem;
    flex: 1; 
    padding: auto;
}

.desc {
    font-size: 1.7rem;
    line-height: 1.6; 
    color: #848383; 
    flex: 2; 
    text-align: left; 


}
@media screen and (max-width: 700px) {
    #introduction {
        flex-direction: column;
        padding: 2rem 1rem; 
    }
    .titleIntro {
        font-size: 2rem; 
    }
    .desc {
        font-size: 1rem; 
        padding: 2rem;
        text-align: justify;
    }
}
