.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 10px;
    background-color: #848383;
    color: rgb(31, 29, 29);
  }
  
  .footer-left,
  .footer-center,
  .footer-right {
    flex: 1;
    text-align: center;
  }
  
  .footer-left {
    text-align: left;
  }
  
  .footer-right {
    text-align: right;
  }

.email-link {
    color: rgb(31, 29, 29);
    text-decoration: none;
  }
  
  .email-link:hover {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 768px) {
    .footer {
      font-size: .75rem;
      width: 100%;
    }   

    
  }
  @media screen and (max-width: 450px) {
    .footer {
      font-size: .5rem;
      width: 100%;
    }
  }